<footer class="bg-dark text-light py-2">
    <div data-aos="fade-up" data-aos-duration="1500" class="container">
      <div class="row">
        <div class="col-6">
          <h5 class="text-uppercase mb-4">Contact</h5>
          <ul class="list-unstyled">
            <li><i class="bi bi-telephone-fill"></i> +1 800 123 4567</li>
            <li><i class="bi bi-envelope-fill"></i> akul&#64;bank.com</li>
            <li><i class="bi bi-house-door-fill"></i>514, CONTINENTAL DR SALEM OH 44460-2470, USA
              
              </li>
          </ul>
        </div>
        
        <div class="col-6">
          <h5 class="text-uppercase mb-4">Our services</h5>
          <ul class="list-unstyled">
            <li><a routerLink="profile" class="text-light">Your account</a></li>
            <li><a routerLink="analytics" class="text-light">Savings and analytics</a></li>
            <li><a routerLink="transactions" class="text-light">Transactions</a></li>
          </ul>
        </div>
      </div>
      
      <hr class="my-4">
      
      <div class="text-center">
        <p>&copy; 2025 AkulBank, All rights reserved.</p>
        <p><a routerLink="privacy" class="text-light">Privacy Policy</a> | <a routerLink="terms" class="text-light">Terms of Use</a></p>
      </div>
    </div>
  </footer>
  