.lato-light {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }