p{
    font-size: 1.5em;
}
tr{
    cursor: pointer;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
  }
  
  .icon-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #1E3A8A;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (max-width: 576px) { 
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      padding-left: 0 !important; 
    }
  }
  

  .container {
    display: flex;
    align-items: flex-end;  
    height: 300px;  
    gap: 10px;  
  }
  
  .box {
    width: 40px;  
    height: 0;
    color: #1E3A8A;
    display: flex;
    justify-content: center;
    align-items: flex-end;  
    font-size: 14px;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    animation: grow-rect 5s ease-in-out forwards;
  }
  
  .label {
    font-size: 12px;
    margin-bottom: 5px;  
  }

  input {
    width: 60%;
    padding: 5px;
    border:1px solid #1E3A8A;
    border-radius: 15px;
  
  }
  input:active{
    border:3px solid #1E3A8A;

  }

  div{
    font-family: Arial, Helvetica, sans-serif;
  }

  .animated-line{
    width: 0;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    animation: grow-line 2s ease-in-out forwards;
}


@keyframes grow-line{
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes grow-rect{
  0% {
      height: 0;
  }
  100% { 
      height: var(--height, 0);
  }
}