<div class="container mt-5 d-flex justify-content-center border">
    <div class="row d-flex justify-content-center">
        <div class="col-12">
            <h1 class="text-center mb-4 text-dark">Terms of Use</h1>
            <p class="text-center text-muted">Effective Date: February 2025</p>

            <div class="mb-4">
                <h3 class="text-dark">1. Acceptance of Terms</h3>
                <p>By using the AkulBank mobile banking application, you agree to comply with and be bound by these Terms of Use.</p>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">2. User Responsibilities</h3>
                <p>You agree to use the app in accordance with all applicable laws and regulations. You are responsible for maintaining the confidentiality of your account and login credentials.</p>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">3. Our Responsibilities</h3>
                <p>AkulBank is responsible for providing secure access to your account and facilitating banking services. We reserve the right to suspend or terminate your access in case of violations.</p>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">4. Limitation of Liability</h3>
                <p>We are not liable for any damages or losses incurred due to technical errors, unauthorized access, or misuse of the app.</p>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">5. Payment and Fees</h3>
                <p>Certain banking services may incur fees. These fees will be disclosed to you prior to any transaction.</p>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">6. Account Termination</h3>
                <p>We may suspend or terminate your account if you breach these Terms of Use or engage in fraudulent activities.</p>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">7. Changes to Terms</h3>
                <p>We reserve the right to modify these Terms of Use at any time. We will notify you of significant changes through the app or via email.</p>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">8. Governing Law</h3>
                <p>These Terms of Use are governed by the laws of the country in which AkulBank operates.</p>
            </div>

            <div class="mb-4">
                <h3 class="text-dark">9. Contact Us</h3>
                <p>If you have any questions or concerns about these Terms of Use, please contact us at <a href="mailto:support@akulbank.com" class="text-decoration-none text-dark">support&#64;akulbank.com</a>.</p>
            </div>
        </div>
    </div>
</div>
